:root {
  --background-color: #f4f1de;
  --title-color: #e07a5f;
  --menu1-color: #201f1d;
  --menu2-color: #00ff00;

  --bagel: "Bagel Fat One";
  --caprasimo: "Caprasimo";
  --handjet: "Handjet";
  --moirai: "Moirai One";
  --borel: "Borel";
}

body {
  font-family: var(--caprasimo);
  font-weight: 100;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  display: flex;
  flex-direction: row;
  /* color: #333; */
}

p {
  font-family: "Roboto", sans-serif;
}

header {
  z-index: 100;
}

.left-container {
  padding: 1.3em 5px;
  top: 0;
  left: 0;
  z-index: 100;
}

.right-container,
.left-container {
  display: flex;
  flex-direction: column;
}

.category-list {
  list-style: none;
  text-align: right;
  margin: 0;
  padding: 0;
  /* width: 12rem; */
  white-space: nowrap;
  cursor: pointer;
  color: var(--menu1-color);
}

.subcategory {
  padding: 0 0;
  list-style: none;
  text-align: right;
  max-height: 0;
  overflow: hidden;
  margin-right: -2em;
  transition: max-height 0.15s ease-in-out, left 0.15s ease-in-out, padding 0.15s ease-in-out;
  left: 0;
  position: relative;
}

.subcategory:not(.hidden) {
  padding: 1em 0;
  left: 50px;
}

h1 {
  font-size: 5em;
  font-family: var(--moirai);
  font-weight: 900;
  margin: 0;
  padding: 0;
  color: var(--title-color);
}

h2 {
  font-size: 10em;
  font-family: var(--bagel);
  font-weight: 400;
  margin: 0;
  text-align: center;
}

.project-title {
  margin-top: 2rem;
  margin-bottom: 4rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  padding-left: calc(20px + 10%);
  padding-right: 10%;
}

.initials-container {
  display: flex;
  flex-direction: column;
  padding: 0 0 0 2em;
}

.initials {
  flex: 1 1;
  margin: 0;
  color: var(--title-color);
  text-align: center;
}

.first-name {
  text-align: right;
}

.last-name {
  text-align: left;
}

.subtitle-container {
  flex: 1 1;
  pointer-events: none;
}

.subtitle {
  transition: all 0.1s ease;
  position: relative;
  color: var(--title-color);
  font-size: 1rem;
  margin: 0;
  margin-top: -1rem;
  margin-left: 15px;
  text-align: center;
}

a {
  text-decoration: none;
  color: var(--menu1-color);
  padding: 2px 0;
}

.body {
  padding-top: 3em;
}

.images {
  padding: 0.5em 2rem;
  display: flex;
  flex-wrap: wrap;
}

.image-box {
  flex: 50%;
}

.image-box img {
  width: 100%;
  height: auto;
}

.video {
  width: 70%;
  padding: 2rem;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.links a {
  padding: 4px 8px; /* Adjust as needed */
}

.gameplay {
  width: 100%;
  height: 50vh;
}

@media only screen and (max-width: 768px) {
  body {
    flex-direction: column;
  }
  h1 {
    font-size: 2.5em;
  }

  h2 {
    font-size: 5em;
  }

  .left-container {
    flex-direction: row;
  }

  .initials-container {
    padding: 0;
  }

  nav {
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .category-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: center;
    max-height: 1rem;
  }

  .subcategory {
    text-align: left;
    margin-right: 0;
  }

  main {
    padding-left: 10px;
    padding-right: 10px;
  }

  .image-box {
    flex: 100%;
  }

  .video {
    width: 100%;
    padding: 1rem;
  }

  .gameplay {
    height: 30vh;
  }

  .subtitle {
    display: none;
    font-size: 0.8rem;
    margin-top: -0.8rem;
  }
}
