<header class="left-container">
  <div class="initials-container">
    <div class="initials">
      <h1>AS</h1>
    </div>
    <div class="subtitle-container">
      <div class="subtitle" id="developerSubtitle">Developer</div>
    </div>
  </div>
  <nav>
    <ul class="category-list">
      <li class="category-link">
        AI
        <ul class="subcategory hidden">
          <li><a href="/projects/ai/stenographergpt">StenographerGPT</a></li>
          <li><a href="/projects/ai/mealprepai">Meal Prep AI</a></li>
          <li><a href="/projects/ai/blogtobot">BlogTO Bot</a></li>
        </ul>
      </li>
      <li class="category-link">
        Games
        <ul class="subcategory hidden">
          <li><a href="/projects/games/knotfun">Knot Fun</a></li>
          <li><a href="/projects/games/palmpong">Palm Pong</a></li>
          <li><a href="/projects/games/johnnywoop">Johnny Woop</a></li>
          <li><a href="/projects/games/ghosthunters">Ghost Hunters</a></li>
          <li><a href="/projects/games/pbjpuzzler">PB&J Puzzler</a></li>
          <li><a href="/projects/games/badbarber">Bad Barber</a></li>
          <li><a href="/projects/games/tankbot">Tank Bot</a></li>
        </ul>
      </li>
      <li class="category-link">
        Smart Contracts
        <ul class="subcategory hidden">
          <li><a href="/projects/smartcontracts/chainmail">Chain Mail</a></li>
        </ul>
      </li>
      <li class="category-link">
        Art
        <ul class="subcategory hidden">
          <li><a href="/projects/art/erosionsim">Erosion Simulator</a></li>
          <li><a href="/projects/art/webgl">webGL stuff</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</header>
