<!DOCTYPE html>
<html>
  <head>
    <title>Adam Stockermans</title>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <%- include('./partials/header.ejs') %>
    <main>
      <!-- Content Here -->
    </main>
    <!-- <%- include('./partials/footer.ejs') %> -->
  </body>
</html>
