:root {
  --background-color: #f4f1de;
  --title-color: #e07a5f;
  --menu1-color: #201f1d;
  --menu2-color: #00ff00;

  --bagel: "Bagel Fat One";
  --caprasimo: "Caprasimo";
  --handjet: "Handjet";
  --moirai: "Moirai One";
  --borel: "Borel";
}

body {
  font-family: var(--caprasimo);
  font-weight: 100;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  display: flex;
  flex-direction: row;
  /* color: #333; */
}

header {
  /* display: flex;
  justify-content: flex-start;
  flex-direction: row;
  padding: 0 2%; */
}

.empty-container {
  display: flex;
  flex: 1 0;
}

.right-container {
  /* position: absolute; */
}

.left-container {
  padding: 1.3em 5px;
  /* position: absolute; */
  top: 0;
  left: 0;
  z-index: 100;
}

.right-container,
.left-container {
  display: flex;
  flex-direction: column;
}

.category-list {
  list-style: none;
  text-align: right;
  margin: 0;
  padding: 0;
  width: 12rem;
  cursor: pointer;
  color: var(--menu1-color);
}

.subcategory {
  padding-left: 0;
  padding: 0 0;
  list-style: none;
  text-align: right;
  width: 12rem;
  /* position: relative; */
  max-height: 0;
  overflow: hidden;
  margin-right: -2em;
  transition: max-height 0.15s ease-in-out, padding 0.15s ease-in-out;

  /* transition-delay: 1.1s; */
}

.subcategory:not(.hidden) {
  padding: 1em 0 1em 3em;
}

h1 {
  font-size: 5em;
  font-family: var(--moirai);
  font-weight: 900;
  margin: 0;
  padding: 0;
  color: var(--title-color);
}

h2 {
  font-size: 10em;
  font-family: var(--bagel);
  font-weight: 400;
  margin: 0;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  padding-left: calc(220px + 10%);
  padding-right: 10%;
}

.initials-container {
  display: flex;
  flex-direction: column;
  padding: 0 0 0 2em;
}

.initials {
  flex: 1 1;
  margin: 0;
  color: var(--title-color);
  text-align: center;
}

.first-name {
  text-align: right;
}

.last-name {
  text-align: left;
}

.subtitle-container {
  flex: 1 1;
  pointer-events: none;
}

.subtitle {
  transition: all 0.1s ease;
  position: relative;
  color: var(--title-color);
  font-size: 18px;
  margin: 0;
  margin-top: -1rem;
  text-align: center;
}

li {
  font-size: 18px;
  /* margin: 5px 0; */
}

a {
  text-decoration: none;
  color: var(--menu1-color);
  padding: 2px 0;
}

/* Footer styles */
/* footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #324376;
  text-align: center;
}

footer p {
  color: #ccc;
} */

.body {
  padding-top: 3em;
}

.images {
  padding: 0.5em 2rem;
  display: flex;
  flex-wrap: wrap;
}

.image-box {
  flex: 50%;
}

.image-box img {
  width: 100%;
  height: auto;
}

.video {
  width: 70%;
  padding: 2rem;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.gameplay {
  width: 100%;
  height: 50vh;
}
